<!DOCTYPE html>
<html>
  <head>
    <title>제목</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <h1><%= age %></h1>
  </body>
</html>
