<!DOCTYPE html>
<html>
  <head>
    <title>제목</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= x%></h1>
    <h1><%= y%></h1>
    <h1><%= z%></h1>
  </body>
</html>
